<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
	<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
	<link rel="stylesheet" href="css.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src="app.js"></script>
	<meta charset="UTF-8">
	<title>Application Form</title>
</head>
<body ng-controller="AppController as app">
 
	  	
		<form >
		<div class="col-sm-12 info" id="info" >

			<div class="col-sm-4"></div>
			<div class="input-group input-group-lg col-sm-4" >
			  <span class="input-group-addon" id="sizing-addon1">ชื่อ</span>
			  <input type="text" ng-model="input.name" class="form-control" placeholder="Name" aria-describedby="sizing-addon1">
			</div>
			<br>
			<div class="col-sm-4"></div>
			<div class="input-group input-group-lg col-sm-4" >
			  <span class="input-group-addon" id="sizing-addon1">นามสกุล</span>
			  <input type="text" ng-model="input.surname" class="form-control" placeholder="Surname" aria-describedby="sizing-addon1">
			</div>
			<br>
			<div class="col-sm-4"></div>
			<div class="input-group input-group-lg col-sm-4" >
			  <span class="input-group-addon" id="sizing-addon1">อายุ</span>
			  <input type="number" min=0 ng-model="input.age" class="form-control" placeholder="Age" aria-describedby="sizing-addon1">
			</div>
			
			<br>
			<div class="col-sm-4"></div>
			<div class="input-group input-group-lg col-sm-4" >
			  <span class="input-group-addon" id="sizing-addon1">E-mail</span>
			  <input type="email" ng-model="input.email" class="form-control" placeholder="example@domain.com" aria-describedby="sizing-addon1">
			</div>
			<br>

			<div class="col-sm-4"></div>
			<div class="input-group input-group-lg col-sm-4" >
			  <span class="input-group-addon" id="sizing-addon1">เพศ</span>
			 <!--  <input type="text" ng-model="input.sex" class="form-control" placeholder="Your sex" aria-describedby="sizing-addon1"> -->
			  	<label class="radio-inline">
				  <input type="radio" ng-model="input.sex" name="inlineRadioOptions" id="inlineRadio1" value="ชาย"> ชาย
				</label>
				<label class="radio-inline">
				  <input type="radio" ng-model="input.sex" name="inlineRadioOptions" id="inlineRadio2" value="หญิง"> หญิง
				</label>
			 
			</div>
			
			<br>
			<div class="col-sm-4"></div>
			<div class="input-group input-group-lg col-sm-4" >
			  <span class="input-group-addon" id="sizing-addon1">หมายเลขโทรศัพท์</span>
			  <input type="tel" ng-model="input.tel" class="form-control" placeholder="phone number" aria-describedby="sizing-addon1">
			</div>
			<div class="col-sm-4"></div>
			

			<br>
			<div class="col-sm-4"></div>
			<div class="input-group input-group-lg col-sm-4" >
			  <span class="input-group-addon" id="sizing-addon1">Facebook</span>
			  <input type="text" ng-model="input.facebook" class="form-control" placeholder="Facebook" aria-describedby="sizing-addon1">
			</div>
			<br>
			<div class="col-sm-4"></div>
			<div class="input-group input-group-lg col-sm-4" >
			  <span class="input-group-addon" id="sizing-addon1">Twitter</span>
			  <input type="text" ng-model="input.twitter" class="form-control" placeholder="Twitter" aria-describedby="sizing-addon1">
			</div>
			<br>
			<div class="col-sm-4"></div>
			<div class="input-group input-group-lg col-sm-4" >
			  <span class="input-group-addon" id="sizing-addon1">Github</span>
			  <input type="text" ng-model="input.github" class="form-control" placeholder="Github" aria-describedby="sizing-addon1">
			</div>
			<div class="col-sm-4"></div>

			


		<br>
			
			<div class="col-sm-4"></div>
			<div  class="col-sm-4">
				<div  ng-repeat="skill in app.skills">
				
					<div class="col-sm-6">
						 {{skill.name}}
					</div>
					<div class="col-sm-6">
						<div class="progress" >
						  <div class="progress-bar progress-bar-danger"  role="progressbar" aria-valuenow="{{skill.level}}"
						  aria-valuemin="0" aria-valuemax="10"  style="width:{{skill.level}}0%">
						    {{skill.level}}
						  </div>
						</div>
						
					</div>
					
					 
				</div>
					<table>
						<tr>
							<td>
								<!-- <div class="input-group">
							      <div class="input-group-addon">Your Skill</div> -->
							      <input type="text" ng-model="input.skillName" style="width: 200px;" placeholder="Your Skill" class="form-control">
							      
							    <!-- </div> -->
								
							</td>
							
							<td align="center">
								<div class="sl">
									  <div class="slider">
									  <input type = "range" min="0" max="10"  ng-model="input.skillLevel" ng-init="input.skillLevel='5'"/>
										
									  </div>
								  </div>
							</td>
							
							<td>
								<button ng-click="app.addSkill(input)" class="btn btn-primary">Add</button>
							</td>
						</tr>
					</table>
				
	 			
			</div>

		
			<div class="col-sm-8 col-xl-8 col-sx-8">
						

				<center>
					 <button type="button" class="btn btn-success btn-lg btnn" id="btnh3" ng-click="app.send(input)">Save</button>
				</center>
				

			</div>
			

		</div>
		</form>
		

	
</body>
</html>